@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Modak');

/* font-family: 'Modak', cursive; */
/* font-family: 'Roboto Condensed', sans-serif; */

* {
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
  font-family: 'Roboto Condensed', sans-serif;
  border: none;
}

body {
  background-color: lightblue;
  font-size: 0;
}

.root {
  min-width: 320px;
  padding: 20px 0;
}

.loading {
  display: none;
  position: absolute;
  background-color: lightblue;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.loading .text {
  color: white;
  font-size: 30px;
  text-shadow: 1px 1px 2px black;
  position: absolute;
  top: calc(50% - 18px);
  left: calc(50% - 56.5px);
}

.title,
.description {
  margin: 0 auto;
  width: 95%;
  background-color: lightseagreen;
  border-radius: 5px;
}

.title {
  margin-bottom: 20px;
  padding: 30px;
  text-align: center;
}

.title .logo {
  font-size: 40px;
  text-align: center;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.9);
}

.title .text {
  color: white;
}

.title .city {
  font-size: 29px;
}

.title .weather_status {
  font-size: 20px;
}

.title .temp {
  font-size: 60px;
}

.description {
  display: flex;
  padding: 25px;
  flex-wrap: wrap;
}

.description .text {
  color: black;
  font-size: 20px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 5px;
}

.description .cloudiness,
.description .humidity {
  width: 49.5%;
  margin-bottom: 10px;
  min-height: 100px;
}

.description .cloudiness {
  margin-right: 1%;
}

.description .wind {
  width: 100%;
  min-height: 70px;
}

.find_city {
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

.find_city .input {
  width: 30%;
  vertical-align: middle;
  height: 33px;
  font-size: 20px;
  border-radius: 5px;
  margin-right: 5px;
  padding: 0 5px;
  text-align: center;
}

.find_city .input:focus {
  border: 1px solid black;
  
}

.find_city .button {
  font-size: 20px;
  vertical-align: middle;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  background-color: lightslategrey;
  transition: transform 0.1s;
  -webkit-transition: transform 0.1s;
	-o-transition: transform 0.1s;
}

.find_city .button:active {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
}

@media (max-width: 736px) {
  .root {
    padding:  10px 0;
  }

  .title {
    margin-bottom: 10px;
  }

  .description {
    padding: 5px;
  }

  .description .text {
    padding: 2px;
  }

  .description .cloudiness,
  .description .humidity {
    margin-bottom: 5px;
    width: 49%;
  }

  .description .cloudiness {
    margin-right: 2%;
  }

  .find_city {
    margin-top: 10px;
  }

  .find_city .input {
    width: 100%;
    margin-right: 0;
    margin-bottom: 5px;
  }
}
